@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,900&display=swap');
$pinkA: #692743;
$pinkB: #ED9FC1;
$pinkC: #E85695;
$pinkD: #692743;
$pinkE: #B54374;
$logo: #E8DC6D;
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #efefef;
}

.logo {
    font-size: 2em;
    color: $logo;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background: $pinkD;
    padding: 1em 2em;
}

#nav {
    a {
        color: white;
    }
    color: white;
    text-align: right;
    display: flex;
    justify-content: space-between;
    li {
        list-style: none;
        margin-left: 1.5em;
    }
    .cta {
        padding: 0.5em;
        border-radius: 5pt;
        background: $pinkC;
    }
}

.content-wrapper {
    margin: 2em;
}

.listing {
    table {
        width: 90%;
        margin: auto;
    }
    td.title {
        width: 50%;
        padding-right: 2em;
    }
    tr {
        line-height: 2em;
    }
    a:hover {
        text-decoration: underline;
    }
}